.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    // prevents spaciding when using display block
    display: block;
}

button {
    background-color: transparent;
    border: none;
    // add padding to increase click radius
    padding: 15px;
    cursor: pointer;
}

a {
    display: inline-block;
    &.button {
        border: 2px solid $primary;
        @include fontSize(14);
        font-weight: bold;
        padding: 15px 32px;             
    }
    &:hover, 
    &:focus {
        background-color: $primary;
        color: $solidWhite;
    }
}