.navBar {
    // for development
    // border: 1px solid red;
    position: sticky;
    // tell the navbar where for it to start following - 0 means from the top
    top: 0;
    background-color: $solidWhite;
    border-bottom: 2px solid rgba($color: $primary, $alpha: 0.1);
    z-index: 10;
    padding: 15px 0;

    .wrapper {
        // border: 1px solid red;
        // to align all items in a straight line
        display: flex;
        // space in-between elements
        justify-content: space-between;
        // space all items are horizontally centered
        align-items: center;
    }

    .searchCart {
        // to align all items in a straight line
        display: flex;
        align-items: center;
    }

    .menuIcon, 
    .bag {
        padding: 10px 5px;
    }

    .counter {
        background-color: $primary;
        color: $solidWhite;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        // text-align: center; - doesn't work w/display flex, use padding instead or change line height
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }

    .logo {
        margin-left: 50px;
    }
}   

// TODO: implement slide out functoinality in JS
.slideOutNav {
    background-color: $primary;
    color: $solidWhite;
    min-height: 100vh;
    // prevent taking up entire space on page and stays on the left side
    position: fixed;
    top: 0;
    padding: 30px 50px;
    width: 100%;
    max-width: 450px;
    font-weight: bold;
    // move button to the right
    display: flex;
    flex-direction: column;
    // move nav away from page, copy max-width
    z-index: 20;
    left: -450px;
    
    button {
        align-self: flex-end;
    }

    a {
        line-height: 2rem;

        &:hover,
        &:focus {
            color: rgba($color: $solidWhite, $alpha: 0.6);
        }
    }
}